<!DOCTYPE html>
<html>
<head>
    <title>搜索结果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <link href="css/jquery.seat-charts.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- start-smoth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/jquery.serializejson.js"></script>
    <script type="text/javascript" src="js/jquery.seat-charts.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!--start-smoth-scrolling-->
</head>
<body>
<!--start-header-->
<div class="header" id="home">
    <div class="container">
        <div class="head">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt=""/></a>
            </div>
            <div class="navigation">
                <span class="menu"></span>
                <ul class="navig">
                    <li><a href="index.html" class="hvr-bounce-to-bottom">首页</a></li>
                    <li><a href="about.html" class="hvr-bounce-to-bottom">关于</a></li>
                    <li><a href="addFlightPage.html" class="hvr-bounce-to-bottom">添加机票</a></li>
                    <li><a href="typo.html" class="hvr-bounce-to-bottom">样式</a></li>
                    <li><a href="login.html" class="hvr-bounce-to-bottom">登录</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
    $("span.menu").click(function () {
        $(" ul.navig").slideToggle("slow", function () {
        });
    });
</script>
<!--script-for-menu-->
<!--start-about-->

<div class="wrapper">
    <div class="container">
        <div id="seat-map">
            <div class="front-indicator">Front</div>
        </div>
        <div class="booking-details">
            <h2>Booking Details</h2>
            <h3> Selected Seats (<span id="counter">0</span>):</h3>
            <ul id="selected-seats"></ul>
            Total: <b>$<span id="total">0</span></b>
            <button class="checkout-button" onclick="checkout()">Checkout &raquo;</button>
            <div id="legend"></div>
        </div>
    </div>
</div>

<script>
    var firstSeatLabel = 1;
    var unavailableMap = [];
    var selectedSeats = [];
    $(document).ready(function() {
        var flightId = window.location.href.split("=")[1];
        var seatChartMap = [];
        $.ajax({
            type     : 'get',
            url      : '/flight/searchSeatCharts?flightId=' + flightId,
            dataType : 'json',
            async : false,
            success  : function(response) {
                //遍历所有座位
                var tempRow = '';
                var temp = '1';
                $.each(response, function(index) {
                    if(response[index].placeStatus === 2) {
                        unavailableMap.push(response[index].placeNo);
                    }
                    if(index + 1 !== response.length) {
                        if (response[index].placeNo.charAt(0) === response[index + 1].placeNo.charAt(0)) {
                            tempRow = tempRow + response[index].placeLevel;
                        } else {
                            tempRow = tempRow + response[index].placeLevel;
                            seatChartMap.push(tempRow);
                            tempRow = '';
                        }
                    } else {
                        tempRow = tempRow + response[index].placeLevel;
                        seatChartMap.push(tempRow);
                    }
                });
            }
        });
        var $cart = $('#selected-seats'),
            $counter = $('#counter'),
            $total = $('#total'),
            sc = $('#seat-map').seatCharts({
                map: seatChartMap,
                seats: {
                    f: {
                        price   : 100,
                        classes : 'first-class', //your custom CSS class
                        category: 'First Class'
                    },
                    e: {
                        price   : 40,
                        classes : 'economy-class', //your custom CSS class
                        category: 'Economy Class'
                    }

                },
                naming : {
                    top : false,
                    getLabel : function (character, row, column) {
                        return firstSeatLabel++;
                    }
                },
                legend : {
                    node : $('#legend'),
                    items : [
                        [ 'f', 'available',   'First Class' ],
                        [ 'e', 'available',   'Economy Class'],
                        [ 'f', 'unavailable', 'Already Booked']
                    ]
                },
                click: function () {
                    if (this.status() == 'available') {
                        //let's create a new <li> which we'll add to the cart items
                        $('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a>'+'</li>')
                            .attr('id', 'cart-item-'+this.settings.id)
                            .data('seatId', this.settings.id)
                            .appendTo($cart);
                        selectedSeats.push(this.settings.id);
                        /*
                         * Lets update the counter and total
                         *
                         * .find function will not find the current seat, because it will change its stauts only after return
                         * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
                         */
                        $counter.text(sc.find('selected').length+1);
                        $total.text(recalculateTotal(sc)+this.data().price);
                        return 'selected';
                    } else if (this.status() === 'selected') {
                        //update the counter
                        $counter.text(sc.find('selected').length-1);
                        //and total
                        $total.text(recalculateTotal(sc)-this.data().price);

                        //remove the item from our cart
                        $('#cart-item-'+this.settings.id).remove();

                        var _self = this;
                        $.each(selectedSeats, function (index) {
                            if (selectedSeats[index] === _self.settings.id) {
                                selectedSeats.splice(index, 1);
                            }
                        });
                        //seat has been vacated
                        return 'available';
                    } else if (this.status() === 'unavailable') {
                        //seat has been already booked
                        return 'unavailable';
                    } else {
                        return this.style();
                    }
                }
            });
        //this will handle "[cancel]" link clicks
        $('#selected-seats').on('click', '.cancel-cart-item', function () {
            //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
            sc.get($(this).parents('li:first').data('seatId')).click();
        });
        //let's pretend some seats have already been booked
        sc.get(unavailableMap).status('unavailable');

    });

    function recalculateTotal(sc) {
        var total = 0;
        //basically find every selected seat and sum its price
        sc.find('selected').each(function () {
            total += this.data().price;
        });
        return total;
    }

    setInterval(function() {
        var flightId = window.location.href.split("=")[1];
        var sc = JSON.stringify($('#seat-map'));
        $.ajax({
            type     : 'get',
            url      : '/flight/searchSeatCharts?flightId=' + flightId,
            dataType : 'json',
            success  : function(response) {
                //遍历所有座位
                $.each(response, function(index) {
                    //将已售出的座位状态设置为已售出
                    if(response[index].placeStatus === 2) {
                        unavailableMap = [];
                        unavailableMap.push(response[index].placeNo);
                    }
                });
                console.log(selectedSeats.toString());
            }
        });
    }, 10000);

    function checkout() {
        var flightId = window.location.href.split("=")[1];
        window.location.href='checkout.html?selectedSeats=' + selectedSeats.toString() + '&flightId=' + flightId;
    }
</script>
<!--end-about-->
<!--start-test-->
<div class="test" id="testimonials">

</div>
<!--end-test-->
<!--FlexSlider-->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>

<!--End-slider-script-->
<!--start-footer-->
<div class="footer">
    <div class="container">
        <div class="touch-top heading">
            <h3>FOLLOW US</h3>
        </div>
        <div class="touch-bottom">
            <p>756 gt globel Place, CD-Road,M 07 435.</p>
            <h6>1 234 567 9871 , 800-2345-679</h6>
            <p>purus tincidunt egestas</p>
            <ul>
                <li><a href="#"><span class="fb"> </span></a></li>
                <li><a href="#"><span class="twit"> </span></a></li>
                <li><a href="#"><span class="google"> </span></a></li>
            </ul>
        </div>
        <div class="footer-top">
            <p class="footer-class">Copyright &copy; 2018.Company name All rights reserved.</p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                             style="opacity: 1;"> </span></a>
</div>
<!--end-footer-->
</body>
</html>