<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>更新用户信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <script src="js/jquery.min.js"></script>
    <!-- start-smoth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/jquery.serializejson.js"></script>
    <link rel="stylesheet" href="css/form-elements.css">
    <link rel="stylesheet" href="css/loginPageStyle.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!--start-smoth-scrolling-->
</head>
<body style="background-image: url(img/backgrounds/1.jpg); background-size: 100%;">
<!--start-header-->
<div class="top-content">
    <div class="header" id="home">
        <div class="container">
            <div class="head">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""/></a>
                </div>
                <div class="navigation">
                    <span class="menu"></span>
                    <ul class="navig">
                        <li><a href="index.html" class="active hvr-bounce-to-bottom">首页</a></li>
                        <!--<li><a href="addFlightPage.html" class="hvr-bounce-to-bottom">添加航班</a></li>-->
                        <li th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==1}"><a th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==1}" th:href="addFlightPage.html" class="hvr-bounce-to-bottom">添加航班</a></li>
                        <li th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==0}"><a href="updateUserProfilePage.html" class="hvr-bounce-to-bottom">更新资料</a></li>
                        <li th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==1}"><a href="searchAllUser.html" class="hvr-bounce-to-bottom" th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==1}">用户信息管理</a></li>
                        <li  th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==1}"><a href="searchTickets.html" class="hvr-bounce-to-bottom"  th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null && session.Authority==1}">票务管理</a></li>
                        <li th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null}"><a th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null}" th:href="@{/user/logout}" class="hvr-bounce-to-bottom"><span th:if="${session.LOGIN_SESSION_KEY_USERNAME != '' && session.LOGIN_SESSION_KEY_USERNAME!= null}" th:text="${session.LOGIN_SESSION_KEY_USERNAME}" ></span></a></li>
                        <li th:if="${session.LOGIN_SESSION_KEY_USERNAME == null}"><a th:if="${session.LOGIN_SESSION_KEY_USERNAME == null}" href="login.html" class="hvr-bounce-to-bottom"><span th:if="${session.LOGIN_SESSION_KEY_USERNAME == null}" th:text="登录"> </span></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- script-for-menu -->
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $(" ul.navig").slideToggle("slow", function () {
            });
        });
    </script>
    <!--script-for-menu-->
    <!--start-about-->

    <div class="inner-bg">
        <div class="container">
            <!--<div class="row">-->
            <!--<div class="col-sm-8 col-sm-offset-2 text">-->
            <!--<h1><strong>Bootstrap</strong> Login Form</h1>-->
            <!--<div class="description">-->
            <!--<p>-->
            <!--This is a free responsive login form made with Bootstrap.-->
            <!--Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>更新</h3>
                            <p>请输入您需要更新的信息:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" method="post" class="login-form" th:object="${session.currentUser}">
                            <div class="form-group" hidden="hidden">
                                <label class="sr-only" for="form-userid">用户ID</label>
                                <input type="text" name="form-username" placeholder="请输入用户名"
                                       class="form-username form-control" id="form-userid" th:value="*{userId}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">用户名</label>
                                <input type="text" name="form-username" placeholder="请输入用户名"
                                       class="form-username form-control" id="form-username" th:value="*{userName}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">密码</label>
                                <input type="password" name="form-password" placeholder="请输入密码"
                                       class="form-password form-control" id="form-password" th:value="*{password}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Email</label>
                                <input type="text" name="form-useremail" placeholder="请输入Email"
                                       class="form-username form-control" id="form-useremail" th:value="*{userEmail}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-userid">真实姓名</label>
                                <input type="text" name="form-userid" placeholder="请输入真实姓名"
                                       class="form-username form-control" id="form-personid" th:value="*{personId}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-realname">身份证号码</label>
                                <input type="text" name="form-realname" placeholder="请输入身份证号码"
                                       class="form-username form-control" id="form-realname" th:value="*{personName}">
                            </div>
                            <button type="button" onclick="onClickedSubmit()" class="btn">注册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-about-->
<!--start-test-->
<div class="test" id="testimonials">

</div>
<!--end-test-->
<!--FlexSlider-->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>

<!--End-slider-script-->
<!--start-footer-->
<div class="footer">
    <div class="container">
        <div class="touch-top heading">
            <h3>FOLLOW US</h3>
        </div>
        <div class="touch-bottom">
            <p>756 gt globel Place, CD-Road,M 07 435.</p>
            <h6>1 234 567 9871 , 800-2345-679</h6>
            <p>purus tincidunt egestas</p>
            <ul>
                <li><a href="#"><span class="fb"> </span></a></li>
                <li><a href="#"><span class="twit"> </span></a></li>
                <li><a href="#"><span class="google"> </span></a></li>
            </ul>
        </div>
        <div class="footer-top">
            <p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.More Templates <a
                    href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                    href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                             style="opacity: 1;"> </span></a>
</div>
<!--end-footer-->
</body>
</html>